<style>
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.parallax1, .parallax2, .parallax3 { 

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1
{
/* The image used */
    background-image: url("images/Donate.jpg");
}

.parallax2
{
/* The image used */
    background-image: url("images/Do.jpg");
}
.parallax3
{
/* The image used */
    background-image: url("images/SC.jpg");
}
.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

ul {
  list-style-type: none;
}

</style>